.nav-bar {
    height: 10%;
    background-color: aquamarine;
}

.product {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
}

.product-image {
    width: 200px;
}

img {
    width: 100%;
}